.sidebar {
	z-index: 1;
	position: fixed;
	
	left: 0;
	width: 117px;
	height: 100%;
	overflow: hidden;
	background: $secondary-color;
	text-align: center;

	&__buttons {
		display:flex;
        flex-direction: column;
        gap:20px;
        margin-left: 26px;
        margin-right: 27px;
        margin-top:100px;
        &__button {
            width:64px;
            height: 64px;
            border-radius: 6px;
        }
	}


&__copyright {
	position: absolute;
	bottom: 11rem;
	left: -8%;
	width: max-content;
	margin: 0;
	transform: rotate(-90deg);
	color: $background-color;
	
	font-size: 0.75rem;
	font-weight: 500;
}
}