// Variables de couleur
$primary-color: #E60000;
$secondary-color: #000000;
$background-color: #ffffff;
$text-color: #74798C;
$chart-background-color: #FBFBFB;
$chart-text-color: #20253A;

// Variables de dimension
$max-width: 1024px;
$min-height: 780px;