// Dashboard.scss
.dashboard {
    &__header {
        
      &__title{
        color:$primary-color;
        font-weight: 500;
        font-size: 48px;
        margin-bottom: 41px;
        &--black {
            color: $secondary-color;
          }
        }
        &__subtitle{
            @include font(400,18px);
            color: $secondary-color;
        }
  
     
        
      }
  
      
    
  
    &__content {
      display: flex;
      flex-direction: row;
      gap:31px;
      margin-top: 20px;
  
      &__chart {
        width: 100%;
        max-width: 800px;
        
        padding-top: 24px;
        padding-bottom: 23px;
        padding-left: 32px;
        padding-right: 26px;
        &__activity{
          background-color: $chart-background-color;
          padding-bottom: 28px;
        }
        &__average{
          width:258px;
          height: 263px;
        }
      }
      &__nutrients{
        display:flex;
        flex-direction: column;
        gap:39px;
      }
    }
  
}