// Dashboard.scss
.dashboard {
    &__header {
        
      &__title{
        color:$primary-color;
        font-weight: 500;
        font-size: 48px;
        margin-bottom: 41px;
        &--black {
            color: $secondary-color;
          }
        }
        &__subtitle{
            @include font(400,18px);
            color: $secondary-color;
        }
  
     
        
      }
  
      
    
  
    &__content {
      display: flex;
      flex-direction: row;
      // gap:31px;
      margin-top: 20px;
  
      &__chart {
        width: 100%;
        max-width: 800px;
        
         padding-top: 77px;
        // padding-bottom: 23px;
        // padding-left: 32px;
        // padding-right: 26px;


        &__activity{
          background-color: $chart-background-color;
          padding: 24px;
          margin-bottom: 30px;
          width:835px;
          max-height: 320px;
        }
     
      &__smallChart{
        display: flex;
        flex-direction: row;
        column-gap:30px;
        &__average{
          width:258px;
          height: 263px;
        }
        &__performance{
          width:258px;
          height: 263px;
          background-color: #282D30 ;
          color:white;
          @include font(500,12px);
          border-radius: 5px;
        }
        &__score{
          background-color: #FBFBFB;
          border-radius: 5px;
          &__title{
            @include font(500,15px);
            color: $chart-text-color;
            position: absolute;
            padding-top:24px;
            padding-left:30px;
          }
          &__pourcentage{
            position:absolute;
            top:40px;
            right: 55px;
            @include font(700,26px);
            color:#282D30;
            
            &__text{
              position: absolute;
              top:68px;
              right: 49px;
              @include font(500,16px);
              color:#74798C;
              width:60px;
            }
          }
         
        }
        

      }
    } 
      
      &__nutrients{
        display:flex;
        flex-direction: column;
        gap:39px;
        margin-left:60px;
        padding-top: 77px;
      }
    }
  
}
.rond{
  position: absolute;
  width: 159.38px;
            height: 159.38px;
            border-radius: 50%;
            background-color: white;
         
            top: 805px;
    right: 510px;
}